<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Awesome</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/acc.css">
</head>
<body>
<div th:replace="/header :: header"></div>
<!-- TODO: best 아이템 24개 노출-->
<main class="acc-page">
  <div class="pageinfo">
    ACCESSORY
  </div>
  <div class="acc">

    <div class="acc-li">
      <div>
        <img src="/images/jeans.jpg" class="acc-img">
      </div>
      <div class="acc-product-name">상품명</div>
      <div>사이즈</div>
      <div>가격</div>
      <div>리뷰</div>
    </div>

  </div>
</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>