<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Awesome</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/acc.css">
</head>
<body>
<div th:replace="/header :: header"></div>

<main class="acc-page">
  <div class="pageinfo">
    ACCESSORY
  </div>

  <div class="acc">
    <div class="acc-li" th:each="acc : ${acc}">
      <div>
        <a th:href="@{/details(productId=${acc.productId})}">
          <img th:src="@{'/images/' + ${acc.productMainName}}" class="acc-img">
        </a>
      </div>
      <div class="acc-product-name" th:text="'상품명  ' + ${acc.productName}">상품명</div>
      <div th:text="가격 + ${acc.productPrice}">가격</div>
      <div th:text="구매건수 + ${acc.orderCount}"></div>
    </div>
  </div>

  <a th:href="@{/acc(page = ${previousPage})}" th:text="이전"></a>
  <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage}" th:href="@{/acc(page = ${page - 1})}" th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}"></strong>
  </th:block>
  <a th:href="@{/acc(page = ${nextPage})}" th:text="다음"></a>
</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>