<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME-admin</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div th:replace="/header :: header"></div>
    <div class="pageInfo">
        주문 현황
    </div>

    <main>
        <div class="order-status">
            <a class="order-notComp" href="/adminOrderNotComp">미처리</a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                <a href="/adminOrderComp">처리 완료</a>
            </strong>
            &nbsp;&nbsp;
            <a class="order-notComp" href="/productEnroll">상품 등록</a>
        </div>
        <div class="admin-content">
        <div class="admin-subtitle">
            <h3>처리 완료</h3>
        </div>
        <table class="order-table">
            <tr>
                <td>주문번호</td>
                <td>주문자 ID</td>
                <td>주문자</td>
                <td>주문 상품</td>
                <td>주문 가격</td>
                <td>주소</td>
                <td>주문 현황</td>
            </tr>
            <tr th:each="orderComp:${orderComp}">
                <td th:text="${orderComp.orderNum}"></td>
                <td th:text="${orderComp.userId}"></td>
                <td th:text="${orderComp.userName}"></td>
                <td th:text="${orderComp.productName}"></td>
                <td th:text="${orderComp.productPrice}"></td>
                <td th:text="${orderComp.address}"></td>
                <td th:text="${orderComp.orderStatus}"></td>
            </tr>
        </table>
        <div class="pagination">
        <a class="page-link" th:href="@{/adminOrderComp(page = ${previousPage})}" th:text="이전"></a>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a class="page-link" th:if="${page != nowPage}" th:href="@{/adminOrderComp(page = ${page - 1},productId=${productId})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}"></strong>
        </th:block>
        <a class="page-link" th:href="@{/adminOrderComp(page = ${nextPage})}" th:text="다음"></a>
        </div>
        </div>
    </main>
<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>