<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME-admin</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div th:replace="/header :: header"></div>
  <div>
      주문 현황
  </div>

  <main>
      <a href="/adminOrderNotComp">미처리</a>
      <a href="/adminOrderComp">주문 처리 완료</a>
  <div>
    미처리
  </div>
  <table>
    <tr>
        <td>주문번호</td>
        <td>주문자 ID</td>
        <td>주문자</td>
        <td>주문 상품</td>
        <td>주문 가격</td>
        <td>주소</td>
        <td>주문 현황</td>
    </tr>
    <tr th:each="orderNotComp:${orderNotComp}">
        <td th:text="${orderNotComp.orderNum}"></td>
        <td th:text="${orderNotComp.userId}"></td>
        <td th:text="${orderNotComp.userName}"></td>
        <td th:text="${orderNotComp.productName}"></td>
        <td th:text="${orderNotComp.productPrice}"></td>
        <td th:text="${orderNotComp.address}"></td>
        <td th:text="${orderNotComp.orderStatus}"></td>
        <td>
            <form th:action="@{/orderComplete(orderNum = ${orderNotComp.orderNum})}" method="post">
                <!--<input type="hidden" name="orderNum" value="${orderNotComp.orderNum}">-->
                <input type="submit" value="승인">
            </form>
        </td>
    </tr>
  </table>
    <a th:href="@{/adminOrderComp(page = ${previousPage})}" th:text="이전"></a>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
      <a th:if="${page != nowPage}" th:href="@{/adminOrderComp(page = ${page - 1},productId=${productId})}" th:text="${page}"></a>
      <strong th:if="${page == nowPage}" th:text="${page}"></strong>
    </th:block>
    <a th:href="@{/adminOrderComp(page = ${nextPage})}" th:text="다음"></a>
  </main>
<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>