<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Awesome</title>
</head>
<body>
  <header>
    <div class="header-sec01">
      <div class="top-logo">
          <h3><strong><a href="/">Awesome</a></strong></h3>
      </div>

      <div class="top-search">
        <input type="text">
          <img src="/images/search.png">
      </div>

        <div class="top-icon" th:if="${session.userId == null || session.userId == 'anonymousUser'}">
            <strong><a href="/signUp">JOIN</a></strong>
          &nbsp;&nbsp;
            <strong><a href="/loginForm">LOGIN</a></strong>
        </div>

        <div class="top-icon" th:if="${session.userId != null && session.userId != 'anonymousUser'}">
            <strong th:text="${session.userId}"> </strong>
            &nbsp;&nbsp;
            <strong><a href="/myPage">MYPAGE</a></strong>

            <strong><a href="/logout">LOGOUT</a></strong>
        </div>
    </div>

  <div class="header-sec02">
    <nav>
      <ul class="top-nav">
          <li><strong><a href="/best">BEST</a></strong></li>
          <li><strong><a href="/newPage">NEW</a></strong></li>
          <li><strong><a href="/outer">OUTER</a></strong></li>
          <li><strong><a href="/top">TOP</a></strong></li>
          <li><strong><a href="/pants">PANTS</a></strong></li>
          <li><strong><a href="/shoes">SHOES</a></strong></li>
          <li><strong><a href="/acc">ACC</a></strong></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
</body>
</html>