<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <header>
    <div class="header-sec01">
      <div class="top-logo">
        <h3><strong>Awesome</strong></h3>
      </div>

      <div class="top-search">
        <input type="text">
          <img src="/images/search.png">
      </div>

      <div class="top-icon">
          <strong><a href="#">join</a></strong>
          &nbsp;&nbsp;
          <strong><a href="#">login</a></strong>
      </div>
    </div>

  <div class="header-sec02">
    <nav>
      <ul class="top-nav">
          <li><strong><a href="#">BEST</a></strong></li>
          <li><strong><a href="#">NEW</a></strong></li>
          <li><strong><a href="#">OUTER</a></strong></li>
          <li><strong><a href="#">TOP</a></strong></li>
          <li><strong><a href="#">PANTS</a></strong></li>
          <li><strong><a href="#">SHOES</a></strong></li>
          <li><strong><a href="#">ACC</a></strong></li>
          <li><strong>|</strong></li>
          <li><strong><a href="#">고객센터</a></strong></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
</body>
</html>