<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div th:replace="/header :: header"></div>

    <form name="login" action="/loginComp" method="post">

      <div class="login">
        ID
        <input class="loginId" name="userId" type="text">
      </div>

      <div class="pwd">
        PASSWORD
        <input class="loginPwd" name="pwd" type="password">
      </div>

      <input type="submit" value="LOGIN">

    </form>







    <div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>