<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWESOME</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div th:replace="/header :: header"></div>

    <div class="pageInfo">
        AWESOME
    </div>

    <form name="login" action="/loginComp" method="post">

      <div class="login">

        <input class="loginId" name="userId" type="text" placeholder="아이디">
      </div>

      <div class="pwd">

        <input class="loginPwd" name="pwd" type="password" placeholder="비밀번호">
      </div>

      <div class="loginSubmit">
        <input class="loginSubmitBtn" type="submit" value="로그인">
      </div>
    </form>

    <div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>