<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="header" th:replace="~{header :: header}"></div>

<main class="main-page">
    <h2>
        <strong>BEST 8</strong>
    </h2>

    <div class="mainbest">
        <!-- bestProducts 리스트를 순회 -->
        <div class="mainbest-li" th:each="bestProduct : ${bestNewProduct.bestProducts}">
            <div>
                <a th:href="@{/details(productId=${bestProduct.productId})}">
                    <img th:src="@{'/photo/' + ${bestProduct.productMainName}}" class="main-best-img">
                </a>
            </div>
            <div class="main-product-info">
                <span class="content" th:text="${bestProduct.productName}">상품명 내용</span>
            </div>
            <div class="main-product-info">
                <span class="content" th:text="'&#8361; ' + ${bestProduct.productPrice} + '원'">가격 내용</span>
            </div>
            <div class="main-product-ordered">
                <span class="label">구매건수:</span>
                <span class="content" th:text="' ' + ${bestProduct.orderCount} + '건'">구매건수 내용</span>
            </div>
        </div>
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h2>
        <strong>NEW</strong>
    </h2>

    <div class="mainnew">
        <!-- newProducts 리스트를 순회 -->
        <div class="mainnew-li" th:each="newProduct : ${bestNewProduct.newProducts}">
            <div>
                <a th:href="@{/details(productId=${newProduct.productId})}">
                    <img th:src="@{'/photo/' + ${newProduct.productMainName}}" class="main-new-img">
                </a>
            </div>
            <div class="main-product-info">
                <span class="content" th:text="${newProduct.productName}">상품명 내용</span>
            </div>
            <div class="main-product-info">
                <span class="content" th:text="'&#8361; ' + ${newProduct.productPrice} + '원'">가격 내용</span>
            </div>
            <div class="main-product-ordered">
                <span class="label">구매건수:</span>
                <span class="content" th:text="' ' + ${newProduct.orderCount} + '건'">구매건수 내용</span>
            </div>
        </div>
    </div>
</main>

<div class="footer" th:replace="~{footer :: footer}"></div>

</body>
</html>
