<!DOCTYPE html>
<html lang="ko", xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Awesome Clothes </title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div th:replace="/header :: header"></div>

    <main class="main-page">
        <h3>
            <strong>BEST 8</strong>
        </h3>

        <div class="best">

                <div class="best-li">
                    <div>
                        <img src="/images/jeans.jpg" class="main-best-img">
                    </div>
                    <div class="best-product-name">상품명</div>
                    <div>사이즈</div>
                    <div>가격</div>
                    <div>리뷰</div>
                </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="best-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-best-img">
                </div>
                <div class="best-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

        </div>
        <p>&nbsp</p>
        <p>&nbsp</p>
        <h3>
            <strong>NEW</strong>
        </h3>

        <div class="new">

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>

            <div class="new-li">
                <div>
                    <img src="/images/jeans.jpg" class="main-new-img">
                </div>
                <div class="new-product-name">상품명</div>
                <div>사이즈</div>
                <div>가격</div>
                <div>리뷰</div>
            </div>


        </div>
    </main>

    <div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>