<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="/header :: header"></div>

<main class="main-page">
    <h3>
        <strong>BEST 8</strong>
    </h3>

    <div class="mainbest">
        <div class="mainbest-li" th:each="bestProduct : ${bestProduct}">
            <div>
                <a th:href="@{/details(productId=${bestProduct.productId})}">
                    <img th:src="@{'/images/' + ${bestProduct.productMainName}}" class="main-best-img">
                </a>
            </div>
            <div class="mainbest-product-name" th:text="'상품명  ' + ${bestProduct.productName}">상품명</div>
            <div th:text="가격 + ${bestProduct.productPrice}">가격</div>
            <div th:text="구매건수 + ${bestProduct.orderCount}"></div>
        </div>
    </div>

    <p>&nbsp</p>
    <p>&nbsp</p>
    <h3>
        <strong>NEW</strong>
    </h3>

    <div class="mainnew">
        <div class="mainnew-li" th:each="newProduct : ${newProduct}">
            <div>
                <a th:href="@{/details(productId=${newProduct.productId})}">
                    <img th:src="@{'/images/' + ${newProduct.productMainName}}" class="main-new-img">
                </a>
            </div>
            <div class="mainnew-product-name" th:text="'상품명  ' + ${newProduct.productName}">상품명</div>
            <div th:text="가격 + ${newProduct.productPrice}">가격</div>
            <div th:text="구매건수 + ${newProduct.orderCount}"></div>
        </div>
    </div>

</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>