<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Awesome</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/outer.css">
</head>
<body>
<div th:replace="/header :: header"></div>

<main class="outer-page">
  <div class="pageinfo">
    OUTER
  </div>

  <div class="outer">
    <div class="outer-li" th:each="outer : ${outer}">
      <div>
        <a th:href="@{/details(productId=${outer.productId})}">
          <img th:src="@{'/images/' + ${outer.productMainName}}" class="outer-img">
        </a>
      </div>
      <div class="outer-product-name" th:text="'상품명  ' + ${outer.productName}">상품명</div>
      <div th:text="가격 + ${outer.productPrice}">가격</div>
      <div th:text="구매건수 + ${outer.orderCount}"></div>
    </div>
  </div>

  <a th:href="@{/outer(page = ${previousPage})}" th:text="이전"></a>
  <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage}" th:href="@{/outer(page = ${page - 1})}" th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}"></strong>
  </th:block>
  <a th:href="@{/outer(page = ${nextPage})}" th:text="다음"></a>
</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>