<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Awesome</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/outer.css">
</head>
<body>
<div th:replace="/header :: header"></div>

<main class="outer-page">
  <div class="pageinfo">
    OUTER
  </div>

  <div class="outer">
    <div class="outer-li" th:each="outer : ${outer}">
      <div>
        <img th:src="@{'/images/' + ${outer.productMainName}}" class="outer-img">
      </div>
      <div class="outer-product-name" th:text="'상품명  ' + ${outer.productName}">상품명</div>
      <div th:text="가격 + ${outer.productPrice}">가격</div>
      <div>리뷰</div>
    </div>
  </div>

</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>