<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/payment.css">
</head>
<body>
<div th:replace="/header :: header"></div>
<div class="pageinfo">
    결제하기
</div>
    <main class="payment-page">


        <div class="product-container">
            <div>
                <img th:src="@{'/images/' + ${product.productMainName}}" class="payment-img">
            </div>

            <table class="payment-table">
                <tr>
                    <td>상품명</td>
                    <td th:text="${product.getProductName()}"></td>
                </tr>
                <tr>
                    <td>결제 금액</td>
                    <td th:text="${product.getProductPrice()}"></td>
                </tr>
                <tr>
                    <td>배송지</td>
                    <td th:text="${users.getPostcode()}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td th:text="${users.getAddress1()}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td th:text="${users.getAddress2()}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><button onclick="requestPay()">결제하기</button></td>
                </tr>
            </table>

        </div>

    </main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script th:inline="javascript">

    var product = /*[[${product}]]*/ {};
    var users = /*[[${users}]]*/ {};

    function requestPay() {
        var IMP = window.IMP;
        IMP.init("imp17372284");

        IMP.request_pay({
            pg: 'html5_inicis',
            pay_method: "card",
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: product.productName,
            amount: product.productPrice,
            buyer_name: users.name,
            buyer_tel: users.phone
        }, function (rsp) {
            if (rsp.success) {
                handlePaymentSuccess(product.productPrice);
            } else {
                alert("결제 실패: " + rsp.error_msg);
            }
        });
    }

    function handlePaymentSuccess(totalAmount) {
        $.ajax({
            type: 'POST',
            url: '/paymentend',
            data: {
                orderNum: "merchant_" + new Date().getTime(),
                productId: product.productId,
                productName: product.productName,
                productPrice: product.productPrice,
                userId: users.userId,
                address: users.address
            }
        }).done(function (data) {
            alert("결제 성공");
            window.location.href = '/paymentend';
        });
    }
</script>
</html>