<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/shoes.css">
</head>
<body>
<div th:replace="/header :: header"></div>

<main class="shoes-page">
    <div class="pageinfo">
        SHOES
    </div>

    <div class="shoes">
        <div class="shoes-li" th:each="shoes : ${shoes}">
            <div>
                <a th:href="@{/details(productId=${shoes.productId})}">
                    <img th:src="@{'/images/' + ${shoes.productMainName}}" class="shoes-img">
                </a>
            </div>
            <div class="shoes-product-name" th:text="'상품명  ' + ${shoes.productName}">상품명</div>
            <div th:text="가격 + ${shoes.productPrice}">가격</div>
            <div>리뷰</div>
        </div>
    </div>

    <a th:href="@{/shoes(page = ${previousPage})}" th:text="이전"></a>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/shoes(page = ${page - 1})}" th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}"></strong>
    </th:block>
    <a th:href="@{/shoes(page = ${nextPage})}" th:text="다음"></a>
</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>