<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Awesome</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/top.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div th:replace="/header :: header"></div>

<main class="top-page">
    <div class="pageinfo">
      TOP
    </div>

    <div class="top">
      <div class="top-li" th:each="top : ${top}">
        <div>
            <a th:href="@{/details(productId=${top.productId})}">
                <img th:src="@{'/images/' + ${top.productMainName}}" class="top-img">
            </a>
        </div>
          <div class="main-product-info">
              <span class="content" th:text="${top.productName}">상품명 내용</span>
          </div>
          <div class="main-product-info">
              <span class="content" th:text="'&#8361; ' + ${top.productPrice} + '원'">가격 내용</span>
          </div>
          <div class="main-product-ordered">
              <span class="label">구매건수:</span>
              <span class="content" th:text="' ' + ${top.orderCount} + '건'">구매건수 내용</span>
          </div>
      </div>
    </div>

    <a th:href="@{/top(page = ${previousPage})}" th:text="이전"></a>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/top(page = ${page - 1})}" th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}"></strong>
    </th:block>
    <a th:href="@{/top(page = ${nextPage})}" th:text="다음"></a>
</main>

<div class="footer" th:replace="/footer :: footer"></div>
</body>
</html>